openapi: 3.2.0
info:
  title: FinditParts Reseller Carts API
  version: 2.0.1
  description: 'REST surface of the FinditParts Reseller API — the partner/reseller integration for FinditParts, an online marketplace for heavy-duty truck, trailer, fleet and industrial replacement parts. It covers catalog search and part-number lookup, variant pricing and availability, shipping-method quoting, hosted customer setup and order sessions, cart/checkout, and order history.


    DERIVED, NOT PUBLISHED BY THE PROVIDER. FinditParts publishes no OpenAPI document. This spec was mechanically derived by API Evangelist from the first-party public Postman collection "FinditParts Reseller API 2.0.1", published by FinditParts at https://api-docs.finditparts.com/ and saved verbatim in this repo at postman/finditparts-reseller-api-postman.json. Every path, method, parameter, request body, example response and description below is carried over from that collection; nothing was invented. Response schemas are derived from the collection''s example payloads, whose <string>/<integer>/<boolean>/<float> placeholders are Postman''s rendering of the provider''s own declared types. Each operation records its original collection URL template in x-postman-request.


    Authentication is a short-lived HS256 JWT signed with the Reseller Client Secret (iss = Reseller Client ID, exp required, sub = Customer Reference when acting on behalf of a customer), or an issued API key of the form api-XYZ123 — both presented as an Authorization: Bearer credential. See authentication/finditparts-authentication.yml.'
  contact:
    name: FinditParts Support
    email: support@finditparts.com
    url: https://www.finditparts.com/developers
  termsOfService: https://www.finditparts.com/terms-of-use
  x-generated-by: API Evangelist enrichment pipeline (derived from first-party Postman collection)
  x-source: postman/finditparts-reseller-api-postman.json
  x-source-url: https://api-docs.finditparts.com/
servers:
- url: https://finditparts.com/api/v1
  description: Production. This is the baseUrl collection variable published in the FinditParts Reseller API Postman collection; FinditParts documents no separate sandbox host.
security:
- resellerJWT: []
- apiKey: []
tags:
- name: Carts
  description: 'Draft-order (cart) lifecycle: line items, addresses, shipping method, coupon, PO number and checkout.'
paths:
  /carts/{cart_id}/line_items:
    post:
      operationId: addCartLineItem
      summary: Add Product to Cart
      tags:
      - Carts
      description: 'Returns the Cart Details


        Requires an user specific JWT in the Authorization header or a cart token parameter.'
      parameters:
      - name: cart_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                finditparts_product_id:
                  type: integer
                variant_id:
                  type: integer
                quantity:
                  type: integer
            example:
              finditparts_product_id: <integer>
              variant_id: <integer>
              quantity: <integer>
      responses:
        '200':
          description: Add to Cart Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                  cart:
                    type: object
                    properties:
                      id:
                        type: integer
                      number:
                        type: string
                      state:
                        type: string
                        examples:
                        - delivered
                      total:
                        type: number
                        format: float
                      item_total:
                        type: number
                        format: float
                      line_items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            quantity:
                              type: integer
                            amount:
                              type: number
                              format: float
                            manufacturer:
                              type: string
                            part_number:
                              type: string
                            pack_qty:
                              type: number
                            variant:
                              type: object
                              properties:
                                variant_id:
                                  type: integer
                                price:
                                  type: string
                                quantity:
                                  type: integer
                                pack_quantity:
                                  type: integer
                                minimum:
                                  type: integer
                                verified:
                                  type: boolean
                                location:
                                  type: string
                                timezone:
                                  type: string
                                cutoff:
                                  type: string
                                  format: date-time
                                past_cutoff:
                                  type: boolean
                                core_price:
                                  type: string
                                estimated_business_days_to_ship:
                                  type: integer
                                estimated_ship_date:
                                  type: string
                                  format: date-time
                                estimated_days_to_deliver:
                                  type: integer
                                estimated_delivery_date_ground:
                                  type: string
                                  format: date-time
                                account_price:
                                  type: string
                                minimum_order:
                                  type: string
                                minimum_order_fee:
                                  type: string
                            product_images:
                              type: array
                              items:
                                type: object
                                properties:
                                  product:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                                  large:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                                  small:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                                  medium:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                            variant_id:
                              type: integer
                            product_id:
                              type: integer
                      adjustments:
                        type: array
                        items:
                          type: object
                          properties:
                            label:
                              type: string
                            amount:
                              type: number
                              format: float
                      billing_address:
                        type: object
                        properties:
                          id:
                            type: integer
                          first_name:
                            type: string
                          last_name:
                            type: string
                          country_id:
                            type: integer
                          country_iso:
                            type: string
                          address1:
                            type: string
                          state_id:
                            type: integer
                          state_name:
                            type: string
                          city_name:
                            type: string
                          zipcode:
                            type: string
                          phone:
                            type: string
                          address_type:
                            type: string
                            examples:
                            - residential
                          address2:
                            type: string
                          company:
                            type: string
                          is_default:
                            type: boolean
                      shipping_address:
                        type: object
                        properties:
                          id:
                            type: integer
                          first_name:
                            type: string
                          last_name:
                            type: string
                          country_id:
                            type: integer
                          country_iso:
                            type: string
                          address1:
                            type: string
                          state_id:
                            type: integer
                          state_name:
                            type: string
                          city_name:
                            type: string
                          zipcode:
                            type: string
                          phone:
                            type: string
                          address_type:
                            type: string
                            examples:
                            - commercial
                          address2:
                            type: string
                          company:
                            type: string
                          is_default:
                            type: boolean
                      shipping_method_name:
                        type: string
                      shipping_method_id:
                        type: integer
                      po_number:
                        type: string
                      shipments:
                        type: array
                        items:
                          type: object
                          properties:
                            carrier:
                              type: string
                            is_shipped:
                              type: boolean
                            is_delivered:
                              type: boolean
                            has_tracking:
                              type: boolean
                            shipping_method:
                              type: string
                            tracking_number:
                              type: string
                      cart_token:
                        type: string
                      corporate_billing_available:
                        type: boolean
              example:
                errno: <integer>
                cart:
                  id: <integer>
                  number: <string>
                  state: delivered
                  total: <float>
                  item_total: <float>
                  line_items:
                  - id: <integer>
                    quantity: <integer>
                    amount: <float>
                    manufacturer: <string>
                    part_number: <string>
                    pack_qty: <number>
                    variant:
                      variant_id: <integer>
                      price: <string>
                      quantity: <integer>
                      pack_quantity: <integer>
                      minimum: <integer>
                      verified: <boolean>
                      location: <string>
                      timezone: <string>
                      cutoff: <dateTime>
                      past_cutoff: <boolean>
                      core_price: <string>
                      estimated_business_days_to_ship: <integer>
                      estimated_ship_date: <dateTime>
                      estimated_days_to_deliver: <integer>
                      estimated_delivery_date_ground: <dateTime>
                      account_price: <string>
                      minimum_order: <string>
                      minimum_order_fee: <string>
                    product_images:
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    variant_id: <integer>
                    product_id: <integer>
                  - id: <integer>
                    quantity: <integer>
                    amount: <float>
                    manufacturer: <string>
                    part_number: <string>
                    pack_qty: <number>
                    variant:
                      variant_id: <integer>
                      price: <string>
                      quantity: <integer>
                      pack_quantity: <integer>
                      minimum: <integer>
                      verified: <boolean>
                      location: <string>
                      timezone: <string>
                      cutoff: <dateTime>
                      past_cutoff: <boolean>
                      core_price: <string>
                      estimated_business_days_to_ship: <integer>
                      estimated_ship_date: <dateTime>
                      estimated_days_to_deliver: <integer>
                      estimated_delivery_date_ground: <dateTime>
                      account_price: <string>
                      minimum_order: <string>
                      minimum_order_fee: <string>
                    product_images:
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    variant_id: <integer>
                    product_id: <integer>
                  adjustments:
                  - label: <string>
                    amount: <float>
                  - label: <string>
                    amount: <float>
                  billing_address:
                    id: <integer>
                    first_name: <string>
                    last_name: <string>
                    country_id: <integer>
                    country_iso: <string>
                    address1: <string>
                    state_id: <integer>
                    state_name: <string>
                    city_name: <string>
                    zipcode: <string>
                    phone: <string>
                    address_type: residential
                    address2: <string>
                    company: <string>
                    is_default: <boolean>
                  shipping_address:
                    id: <integer>
                    first_name: <string>
                    last_name: <string>
                    country_id: <integer>
                    country_iso: <string>
                    address1: <string>
                    state_id: <integer>
                    state_name: <string>
                    city_name: <string>
                    zipcode: <string>
                    phone: <string>
                    address_type: commercial
                    address2: <string>
                    company: <string>
                    is_default: <boolean>
                  shipping_method_name: <string>
                  shipping_method_id: <integer>
                  po_number: <string>
                  shipments:
                  - carrier: <string>
                    is_shipped: <boolean>
                    is_delivered: <boolean>
                    has_tracking: <boolean>
                    shipping_method: <string>
                    tracking_number: <string>
                  - carrier: <string>
                    is_shipped: <boolean>
                    is_delivered: <boolean>
                    has_tracking: <boolean>
                    shipping_method: <string>
                    tracking_number: <string>
                  cart_token: <string>
                  corporate_billing_available: <boolean>
        '500':
          description: API error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                  message:
                    type: string
              example:
                errno: <integer>
                message: <string>
      x-postman-request: https://finditparts.com/api/v1/carts/:cart_id/line_items
    put:
      operationId: changeCartLineItems
      summary: Change Cart Line Items
      tags:
      - Carts
      description: 'Updates the Line Items and returns the Cart Details


        Requires an user specific JWT in the Authorization header or a cart token parameter.'
      parameters:
      - name: cart_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                line_items_attributes:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      quantity:
                        type: integer
            example:
              line_items_attributes:
              - id: <integer>
                quantity: <integer>
              - id: <integer>
                quantity: <integer>
      responses:
        '200':
          description: Add to Cart Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                  cart:
                    type: object
                    properties:
                      id:
                        type: integer
                      number:
                        type: string
                      state:
                        type: string
                        examples:
                        - delivered
                      total:
                        type: number
                        format: float
                      item_total:
                        type: number
                        format: float
                      line_items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            quantity:
                              type: integer
                            amount:
                              type: number
                              format: float
                            manufacturer:
                              type: string
                            part_number:
                              type: string
                            pack_qty:
                              type: number
                            variant:
                              type: object
                              properties:
                                variant_id:
                                  type: integer
                                price:
                                  type: string
                                quantity:
                                  type: integer
                                pack_quantity:
                                  type: integer
                                minimum:
                                  type: integer
                                verified:
                                  type: boolean
                                location:
                                  type: string
                                timezone:
                                  type: string
                                cutoff:
                                  type: string
                                  format: date-time
                                past_cutoff:
                                  type: boolean
                                core_price:
                                  type: string
                                estimated_business_days_to_ship:
                                  type: integer
                                estimated_ship_date:
                                  type: string
                                  format: date-time
                                estimated_days_to_deliver:
                                  type: integer
                                estimated_delivery_date_ground:
                                  type: string
                                  format: date-time
                                account_price:
                                  type: string
                                minimum_order:
                                  type: string
                                minimum_order_fee:
                                  type: string
                            product_images:
                              type: array
                              items:
                                type: object
                                properties:
                                  product:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                                  large:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                                  small:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                                  medium:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                            variant_id:
                              type: integer
                            product_id:
                              type: integer
                      adjustments:
                        type: array
                        items:
                          type: object
                          properties:
                            label:
                              type: string
                            amount:
                              type: number
                              format: float
                      billing_address:
                        type: object
                        properties:
                          id:
                            type: integer
                          first_name:
                            type: string
                          last_name:
                            type: string
                          country_id:
                            type: integer
                          country_iso:
                            type: string
                          address1:
                            type: string
                          state_id:
                            type: integer
                          state_name:
                            type: string
                          city_name:
                            type: string
                          zipcode:
                            type: string
                          phone:
                            type: string
                          address_type:
                            type: string
                            examples:
                            - residential
                          address2:
                            type: string
                          company:
                            type: string
                          is_default:
                            type: boolean
                      shipping_address:
                        type: object
                        properties:
                          id:
                            type: integer
                          first_name:
                            type: string
                          last_name:
                            type: string
                          country_id:
                            type: integer
                          country_iso:
                            type: string
                          address1:
                            type: string
                          state_id:
                            type: integer
                          state_name:
                            type: string
                          city_name:
                            type: string
                          zipcode:
                            type: string
                          phone:
                            type: string
                          address_type:
                            type: string
                            examples:
                            - commercial
                          address2:
                            type: string
                          company:
                            type: string
                          is_default:
                            type: boolean
                      shipping_method_name:
                        type: string
                      shipping_method_id:
                        type: integer
                      po_number:
                        type: string
                      shipments:
                        type: array
                        items:
                          type: object
                          properties:
                            carrier:
                              type: string
                            is_shipped:
                              type: boolean
                            is_delivered:
                              type: boolean
                            has_tracking:
                              type: boolean
                            shipping_method:
                              type: string
                            tracking_number:
                              type: string
                      cart_token:
                        type: string
                      corporate_billing_available:
                        type: boolean
              example:
                errno: <integer>
                cart:
                  id: <integer>
                  number: <string>
                  state: delivered
                  total: <float>
                  item_total: <float>
                  line_items:
                  - id: <integer>
                    quantity: <integer>
                    amount: <float>
                    manufacturer: <string>
                    part_number: <string>
                    pack_qty: <number>
                    variant:
                      variant_id: <integer>
                      price: <string>
                      quantity: <integer>
                      pack_quantity: <integer>
                      minimum: <integer>
                      verified: <boolean>
                      location: <string>
                      timezone: <string>
                      cutoff: <dateTime>
                      past_cutoff: <boolean>
                      core_price: <string>
                      estimated_business_days_to_ship: <integer>
                      estimated_ship_date: <dateTime>
                      estimated_days_to_deliver: <integer>
                      estimated_delivery_date_ground: <dateTime>
                      account_price: <string>
                      minimum_order: <string>
                      minimum_order_fee: <string>
                    product_images:
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    variant_id: <integer>
                    product_id: <integer>
                  - id: <integer>
                    quantity: <integer>
                    amount: <float>
                    manufacturer: <string>
                    part_number: <string>
                    pack_qty: <number>
                    variant:
                      variant_id: <integer>
                      price: <string>
                      quantity: <integer>
                      pack_quantity: <integer>
                      minimum: <integer>
                      verified: <boolean>
                      location: <string>
                      timezone: <string>
                      cutoff: <dateTime>
                      past_cutoff: <boolean>
                      core_price: <string>
                      estimated_business_days_to_ship: <integer>
                      estimated_ship_date: <dateTime>
                      estimated_days_to_deliver: <integer>
                      estimated_delivery_date_ground: <dateTime>
                      account_price: <string>
                      minimum_order: <string>
                      minimum_order_fee: <string>
                    product_images:
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    variant_id: <integer>
                    product_id: <integer>
                  adjustments:
                  - label: <string>
                    amount: <float>
                  - label: <string>
                    amount: <float>
                  billing_address:
                    id: <integer>
                    first_name: <string>
                    last_name: <string>
                    country_id: <integer>
                    country_iso: <string>
                    address1: <string>
                    state_id: <integer>
                    state_name: <string>
                    city_name: <string>
                    zipcode: <string>
                    phone: <string>
                    address_type: residential
                    address2: <string>
                    company: <string>
                    is_default: <boolean>
                  shipping_address:
                    id: <integer>
                    first_name: <string>
                    last_name: <string>
                    country_id: <integer>
                    country_iso: <string>
                    address1: <string>
                    state_id: <integer>
                    state_name: <string>
                    city_name: <string>
                    zipcode: <string>
                    phone: <string>
                    address_type: commercial
                    address2: <string>
                    company: <string>
                    is_default: <boolean>
                  shipping_method_name: <string>
                  shipping_method_id: <integer>
                  po_number: <string>
                  shipments:
                  - carrier: <string>
                    is_shipped: <boolean>
                    is_delivered: <boolean>
                    has_tracking: <boolean>
                    shipping_method: <string>
                    tracking_number: <string>
                  - carrier: <string>
                    is_shipped: <boolean>
                    is_delivered: <boolean>
                    has_tracking: <boolean>
                    shipping_method: <string>
                    tracking_number: <string>
                  cart_token: <string>
                  corporate_billing_available: <boolean>
        '500':
          description: API error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                  message:
                    type: string
              example:
                errno: <integer>
                message: <string>
      x-postman-request: https://finditparts.com/api/v1/carts/:cart_id/line_items
  /carts/{cart_id}/shipping_methods:
    get:
      operationId: getCartShippingMethods
      summary: Get Shipping Methods
      tags:
      - Carts
      description: 'Returns the available shipping methods for the cart


        Requires an user specific JWT in the Authorization header or a cart token parameter.'
      parameters:
      - name: cart_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Cart Shipping Methods Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  shipping_methods:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        label:
                          type: string
                        amount:
                          type: number
                          format: float
                        identifier:
                          type: string
                        currency:
                          type: string
                        carrier_type:
                          type: string
                          examples:
                          - ups
                        detail:
                          type: string
                        days_to_deliver:
                          type: integer
                        estimated_delivery_date:
                          type: string
                        available:
                          type: boolean
                        url:
                          type: string
                        manufacturer:
                          type: string
                  errno:
                    type: integer
              example:
                shipping_methods:
                - id: <integer>
                  label: <string>
                  amount: <float>
                  identifier: <string>
                  currency: <string>
                  carrier_type: ups
                  detail: <string>
                  days_to_deliver: <integer>
                  estimated_delivery_date: <string>
                  available: <boolean>
                  url: <string>
                  manufacturer: <string>
                - id: <integer>
                  label: <string>
                  amount: <float>
                  identifier: <string>
                  currency: <string>
                  carrier_type: ups
                  detail: <string>
                  days_to_deliver: <integer>
                  estimated_delivery_date: <string>
                  available: <boolean>
                  url: <string>
                  manufacturer: <string>
                errno: <integer>
        '500':
          description: API error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                  message:
                    type: string
              example:
                errno: <integer>
                message: <string>
      x-postman-request: https://finditparts.com/api/v1/carts/:cart_id/shipping_methods
    put:
      operationId: selectCartShippingMethod
      summary: Cart Select Shipping Method
      tags:
      - Carts
      description: 'Returns the cart


        Requires an user specific JWT in the Authorization header or a cart token parameter.'
      parameters:
      - name: cart_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipping_method_id:
                  type: integer
            example:
              shipping_method_id: <integer>
      responses:
        '200':
          description: Cart Select Shipping Method Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                  cart:
                    type: object
                    properties:
                      id:
                        type: integer
                      number:
                        type: string
                      state:
                        type: string
                        examples:
                        - delivered
                      total:
                        type: number
                        format: float
                      item_total:
                        type: number
                        format: float
                      line_items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            quantity:
                              type: integer
                            amount:
                              type: number
                              format: float
                            manufacturer:
                              type: string
                            part_number:
                              type: string
                            pack_qty:
                              type: number
                            variant:
                              type: object
                              properties:
                                variant_id:
                                  type: integer
                                price:
                                  type: string
                                quantity:
                                  type: integer
                                pack_quantity:
                                  type: integer
                                minimum:
                                  type: integer
                                verified:
                                  type: boolean
                                location:
                                  type: string
                                timezone:
                                  type: string
                                cutoff:
                                  type: string
                                  format: date-time
                                past_cutoff:
                                  type: boolean
                                core_price:
                                  type: string
                                estimated_business_days_to_ship:
                                  type: integer
                                estimated_ship_date:
                                  type: string
                                  format: date-time
                                estimated_days_to_deliver:
                                  type: integer
                                estimated_delivery_date_ground:
                                  type: string
                                  format: date-time
                                account_price:
                                  type: string
                                minimum_order:
                                  type: string
                                minimum_order_fee:
                                  type: string
                            product_images:
                              type: array
                              items:
                                type: object
                                properties:
                                  product:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                                  large:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                                  small:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                                  medium:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                            variant_id:
                              type: integer
                            product_id:
                              type: integer
                      adjustments:
                        type: array
                        items:
                          type: object
                          properties:
                            label:
                              type: string
                            amount:
                              type: number
                              format: float
                      billing_address:
                        type: object
                        properties:
                          id:
                            type: integer
                          first_name:
                            type: string
                          last_name:
                            type: string
                          country_id:
                            type: integer
                          country_iso:
                            type: string
                          address1:
                            type: string
                          state_id:
                            type: integer
                          state_name:
                            type: string
                          city_name:
                            type: string
                          zipcode:
                            type: string
                          phone:
                            type: string
                          address_type:
                            type: string
                            examples:
                            - residential
                          address2:
                            type: string
                          company:
                            type: string
                          is_default:
                            type: boolean
                      shipping_address:
                        type: object
                        properties:
                          id:
                            type: integer
                          first_name:
                            type: string
                          last_name:
                            type: string
                          country_id:
                            type: integer
                          country_iso:
                            type: string
                          address1:
                            type: string
                          state_id:
                            type: integer
                          state_name:
                            type: string
                          city_name:
                            type: string
                          zipcode:
                            type: string
                          phone:
                            type: string
                          address_type:
                            type: string
                            examples:
                            - commercial
                          address2:
                            type: string
                          company:
                            type: string
                          is_default:
                            type: boolean
                      shipping_method_name:
                        type: string
                      shipping_method_id:
                        type: integer
                      po_number:
                        type: string
                      shipments:
                        type: array
                        items:
                          type: object
                          properties:
                            carrier:
                              type: string
                            is_shipped:
                              type: boolean
                            is_delivered:
                              type: boolean
                            has_tracking:
                              type: boolean
                            shipping_method:
                              type: string
                            tracking_number:
                              type: string
                      cart_token:
                        type: string
                      corporate_billing_available:
                        type: boolean
              example:
                errno: <integer>
                cart:
                  id: <integer>
                  number: <string>
                  state: delivered
                  total: <float>
                  item_total: <float>
                  line_items:
                  - id: <integer>
                    quantity: <integer>
                    amount: <float>
                    manufacturer: <string>
                    part_number: <string>
                    pack_qty: <number>
                    variant:
                      variant_id: <integer>
                      price: <string>
                      quantity: <integer>
                      pack_quantity: <integer>
                      minimum: <integer>
                      verified: <boolean>
                      location: <string>
                      timezone: <string>
                      cutoff: <dateTime>
                      past_cutoff: <boolean>
                      core_price: <string>
                      estimated_business_days_to_ship: <integer>
                      estimated_ship_date: <dateTime>
                      estimated_days_to_deliver: <integer>
                      estimated_delivery_date_ground: <dateTime>
                      account_price: <string>
                      minimum_order: <string>
                      minimum_order_fee: <string>
                    product_images:
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    variant_id: <integer>
                    product_id: <integer>
                  - id: <integer>
                    quantity: <integer>
                    amount: <float>
                    manufacturer: <string>
                    part_number: <string>
                    pack_qty: <number>
                    variant:
                      variant_id: <integer>
                      price: <string>
                      quantity: <integer>
                      pack_quantity: <integer>
                      minimum: <integer>
                      verified: <boolean>
                      location: <string>
                      timezone: <string>
                      cutoff: <dateTime>
                      past_cutoff: <boolean>
                      core_price: <string>
                      estimated_business_days_to_ship: <integer>
                      estimated_ship_date: <dateTime>
                      estimated_days_to_deliver: <integer>
                      estimated_delivery_date_ground: <dateTime>
                      account_price: <string>
                      minimum_order: <string>
                      minimum_order_fee: <string>
                    product_images:
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    variant_id: <integer>
                    product_id: <integer>
                  adjustments:
                  - label: <string>
                    amount: <float>
                  - label: <string>
                    amount: <float>
                  billing_address:
                    id: <integer>
                    first_name: <string>
                    last_name: <string>
                    country_id: <integer>
                    country_iso: <string>
                    address1: <string>
                    state_id: <integer>
                    state_name: <string>
                    city_name: <string>
                    zipcode: <string>
                    phone: <string>
                    address_type: residential
                    address2: <string>
                    company: <string>
                    is_default: <boolean>
                  shipping_address:
                    id: <integer>
                    first_name: <string>
                    last_name: <string>
                    country_id: <integer>
                    country_iso: <string>
                    address1: <string>
                    state_id: <integer>
                    state_name: <string>
                    city_name: <string>
                    zipcode: <string>
                    phone: <string>
                    address_type: commercial
                    address2: <string>
                    company: <string>
                    is_default: <boolean>
                  shipping_method_name: <string>
                  shipping_method_id: <integer>
                  po_number: <string>
                  shipments:
                  - carrier: <string>
                    is_shipped: <boolean>
                    is_delivered: <boolean>
                    has_tracking: <boolean>
                    shipping_method: <string>
                    tracking_number: <string>
                  - carrier: <string>
                    is_shipped: <boolean>
                    is_delivered: <boolean>
                    has_tracking: <boolean>
                    shipping_method: <string>
                    tracking_number: <string>
                  cart_token: <string>
                  corporate_billing_available: <boolean>
        '500':
          description: API error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                  message:
                    type: string
              example:
                errno: <integer>
                message: <string>
      x-postman-request: https://finditparts.com/api/v1/carts/:cart_id/shipping_methods
  /carts/{cart_id}/shipping_address:
    put:
      operationId: setCartShippingAddress
      summary: Set Shipping Address
      tags:
      - Carts
      description: 'Sets the Cart shipping address and returns the Cart


        Requires an user specific JWT in the Authorization header or a cart token parameter.'
      parameters:
      - name: cart_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address_id:
                  type: integer
                address:
                  type: object
                  properties:
                    first_name:
                      type: string
                    last_name:
                      type: string
                    address1:
                      type: string
                    phone:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    zipcode:
                      type: string
                    country:
                      type: string
                    address2:
                      type: string
                    company:
                      type: string
                    address_type:
                      type: string
                      examples:
                      - residential
            example:
              address_id: <integer>
              address:
                first_name: <string>
                last_name: <string>
                address1: <string>
                phone: <string>
                city: <string>
                state: <string>
                zipcode: <string>
                country: <string>
                address2: <string>
                company: <string>
                address_type: residential
      responses:
        '200':
          description: Cart Shipping Address Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                  cart:
                    type: object
                    properties:
                      id:
                        type: integer
                      number:
                        type: string
                      state:
                        type: string
                        examples:
                        - delivered
                      total:
                        type: number
                        format: float
                      item_total:
                        type: number
                        format: float
                      line_items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            quantity:
                              type: integer
                            amount:
                              type: number
                              format: float
                            manufacturer:
                              type: string
                            part_number:
                              type: string
                            pack_qty:
                              type: number
                            variant:
                              type: object
                              properties:
                                variant_id:
                                  type: integer
                                price:
                                  type: string
                                quantity:
                                  type: integer
                                pack_quantity:
                                  type: integer
                                minimum:
                                  type: integer
                                verified:
                                  type: boolean
                                location:
                                  type: string
                                timezone:
                                  type: string
                                cutoff:
                                  type: string
                                  format: date-time
                                past_cutoff:
                                  type: boolean
                                core_price:
                                  type: string
                                estimated_business_days_to_ship:
                                  type: integer
                                estimated_ship_date:
                                  type: string
                                  format: date-time
                                estimated_days_to_deliver:
                                  type: integer
                                estimated_delivery_date_ground:
                                  type: string
                                  format: date-time
                                account_price:
                                  type: string
                                minimum_order:
                                  type: string
                                minimum_order_fee:
                                  type: string
                            product_images:
                              type: array
                              items:
                                type: object
                                properties:
                                  product:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                                  large:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                                  small:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                                  medium:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                            variant_id:
                              type: integer
                            product_id:
                              type: integer
                      adjustments:
                        type: array
                        items:
                          type: object
                          properties:
                            label:
                              type: string
                            amount:
                              type: number
                              format: float
                      billing_address:
                        type: object
                        properties:
                          id:
                            type: integer
                          first_name:
                            type: string
                          last_name:
                            type: string
                          country_id:
                            type: integer
                          country_iso:
                            type: string
                          address1:
                            type: string
                          state_id:
                            type: integer
                          state_name:
                            type: string
                          city_name:
                            type: string
                          zipcode:
                            type: string
                          phone:
                            type: string
                          address_type:
                            type: string
                            examples:
                            - residential
                          address2:
                            type: string
                          company:
                            type: string
                          is_default:
                            type: boolean
                      shipping_address:
                        type: object
                        properties:
                          id:
                            type: integer
                          first_name:
                            type: string
                          last_name:
                            type: string
                          country_id:
                            type: integer
                          country_iso:
                            type: string
                          address1:
                            type: string
                          state_id:
                            type: integer
                          state_name:
                            type: string
                          city_name:
                            type: string
                          zipcode:
                            type: string
                          phone:
                            type: string
                          address_type:
                            type: string
                            examples:
                            - commercial
                          address2:
                            type: string
                          company:
                            type: string
                          is_default:
                            type: boolean
                      shipping_method_name:
                        type: string
                      shipping_method_id:
                        type: integer
                      po_number:
                        type: string
                      shipments:
                        type: array
                        items:
                          type: object
                          properties:
                            carrier:
                              type: string
                            is_shipped:
                              type: boolean
                            is_delivered:
                              type: boolean
                            has_tracking:
                              type: boolean
                            shipping_method:
                              type: string
                            tracking_number:
                              type: string
                      cart_token:
                        type: string
                      corporate_billing_available:
                        type: boolean
              example:
                errno: <integer>
                cart:
                  id: <integer>
                  number: <string>
                  state: delivered
                  total: <float>
                  item_total: <float>
                  line_items:
                  - id: <integer>
                    quantity: <integer>
                    amount: <float>
                    manufacturer: <string>
                    part_number: <string>
                    pack_qty: <number>
                    variant:
                      variant_id: <integer>
                      price: <string>
                      quantity: <integer>
                      pack_quantity: <integer>
                      minimum: <integer>
                      verified: <boolean>
                      location: <string>
                      timezone: <string>
                      cutoff: <dateTime>
                      past_cutoff: <boolean>
                      core_price: <string>
                      estimated_business_days_to_ship: <integer>
                      estimated_ship_date: <dateTime>
                      estimated_days_to_deliver: <integer>
                      estimated_delivery_date_ground: <dateTime>
                      account_price: <string>
                      minimum_order: <string>
                      minimum_order_fee: <string>
                    product_images:
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    variant_id: <integer>
                    product_id: <integer>
                  - id: <integer>
                    quantity: <integer>
                    amount: <float>
                    manufacturer: <string>
                    part_number: <string>
                    pack_qty: <number>
                    variant:
                      variant_id: <integer>
                      price: <string>
                      quantity: <integer>
                      pack_quantity: <integer>
                      minimum: <integer>
                      verified: <boolean>
                      location: <string>
                      timezone: <string>
                      cutoff: <dateTime>
                      past_cutoff: <boolean>
                      core_price: <string>
                      estimated_business_days_to_ship: <integer>
                      estimated_ship_date: <dateTime>
                      estimated_days_to_deliver: <integer>
                      estimated_delivery_date_ground: <dateTime>
                      account_price: <string>
                      minimum_order: <string>
                      minimum_order_fee: <string>
                    product_images:
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    variant_id: <integer>
                    product_id: <integer>
                  adjustments:
                  - label: <string>
                    amount: <float>
                  - label: <string>
                    amount: <float>
                  billing_address:
                    id: <integer>
                    first_name: <string>
                    last_name: <string>
                    country_id: <integer>
                    country_iso: <string>
                    address1: <string>
                    state_id: <integer>
                    state_name: <string>
                    city_name: <string>
                    zipcode: <string>
                    phone: <string>
                    address_type: residential
                    address2: <string>
                    company: <string>
                    is_default: <boolean>
                  shipping_address:
                    id: <integer>
                    first_name: <string>
                    last_name: <string>
                    country_id: <integer>
                    country_iso: <string>
                    address1: <string>
                    state_id: <integer>
                    state_name: <string>
                    city_name: <string>
                    zipcode: <string>
                    phone: <string>
                    address_type: commercial
                    address2: <string>
                    company: <string>
                    is_default: <boolean>
                  shipping_method_name: <string>
                  shipping_method_id: <integer>
                  po_number: <string>
                  shipments:
                  - carrier: <string>
                    is_shipped: <boolean>
                    is_delivered: <boolean>
                    has_tracking: <boolean>
                    shipping_method: <string>
                    tracking_number: <string>
                  - carrier: <string>
                    is_shipped: <boolean>
                    is_delivered: <boolean>
                    has_tracking: <boolean>
                    shipping_method: <string>
                    tracking_number: <string>
                  cart_token: <string>
                  corporate_billing_available: <boolean>
        '500':
          description: API error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                  message:
                    type: string
              example:
                errno: <integer>
                message: <string>
      x-postman-request: https://finditparts.com/api/v1/carts/:cart_id/shipping_address
  /carts/{cart_id}/billing_address:
    put:
      operationId: setCartBillingAddress
      summary: Set Billing Address
      tags:
      - Carts
      description: 'Sets the Cart billing address and returns the Cart


        Requires an user specific JWT in the Authorization header or a cart token parameter.'
      parameters:
      - name: cart_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address_id:
                  type: integer
                address:
                  type: object
                  properties:
                    first_name:
                      type: string
                    last_name:
                      type: string
                    address1:
                      type: string
                    phone:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    zipcode:
                      type: string
                    country:
                      type: string
                    address2:
                      type: string
                    company:
                      type: string
                    address_type:
                      type: string
                      examples:
                      - residential
            example:
              address_id: <integer>
              address:
                first_name: <string>
                last_name: <string>
                address1: <string>
                phone: <string>
                city: <string>
                state: <string>
                zipcode: <string>
                country: <string>
                address2: <string>
                company: <string>
                address_type: residential
      responses:
        '200':
          description: Cart Billing Address Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                  cart:
                    type: object
                    properties:
                      id:
                        type: integer
                      number:
                        type: string
                      state:
                        type: string
                        examples:
                        - delivered
                      total:
                        type: number
                        format: float
                      item_total:
                        type: number
                        format: float
                      line_items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            quantity:
                              type: integer
                            amount:
                              type: number
                              format: float
                            manufacturer:
                              type: string
                            part_number:
                              type: string
                            pack_qty:
                              type: number
                            variant:
                              type: object
                              properties:
                                variant_id:
                                  type: integer
                                price:
                                  type: string
                                quantity:
                                  type: integer
                                pack_quantity:
                                  type: integer
                                minimum:
                                  type: integer
                                verified:
                                  type: boolean
                                location:
                                  type: string
                                timezone:
                                  type: string
                                cutoff:
                                  type: string
                                  format: date-time
                                past_cutoff:
                                  type: boolean
                                core_price:
                                  type: string
                                estimated_business_days_to_ship:
                                  type: integer
                                estimated_ship_date:
                                  type: string
                                  format: date-time
                                estimated_days_to_deliver:
                                  type: integer
                                estimated_delivery_date_ground:
                                  type: string
                                  format: date-time
                                account_price:
                                  type: string
                                minimum_order:
                                  type: string
                                minimum_order_fee:
                                  type: string
                            product_images:
                              type: array
                              items:
                                type: object
                                properties:
                                  product:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                                  large:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                                  small:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                                  medium:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
                            variant_id:
                              type: integer
                            product_id:
                              type: integer
                      adjustments:
                        type: array
                        items:
                          type: object
                          properties:
                            label:
                              type: string
                            amount:
                              type: number
                              format: float
                      billing_address:
                        type: object
                        properties:
                          id:
                            type: integer
                          first_name:
                            type: string
                          last_name:
                            type: string
                          country_id:
                            type: integer
                          country_iso:
                            type: string
                          address1:
                            type: string
                          state_id:
                            type: integer
                          state_name:
                            type: string
                          city_name:
                            type: string
                          zipcode:
                            type: string
                          phone:
                            type: string
                          address_type:
                            type: string
                            examples:
                            - residential
                          address2:
                            type: string
                          company:
                            type: string
                          is_default:
                            type: boolean
                      shipping_address:
                        type: object
                        properties:
                          id:
                            type: integer
                          first_name:
                            type: string
                          last_name:
                            type: string
                          country_id:
                            type: integer
                          country_iso:
                            type: string
                          address1:
                            type: string
                          state_id:
                            type: integer
                          state_name:
                            type: string
                          city_name:
                            type: string
                          zipcode:
                            type: string
                          phone:
                            type: string
                          address_type:
                            type: string
                            examples:
                            - commercial
                          address2:
                            type: string
                          company:
                            type: string
                          is_default:
                            type: boolean
                      shipping_method_name:
                        type: string
                      shipping_method_id:
                        type: integer
                      po_number:
                        type: string
                      shipments:
                        type: array
                        items:
                          type: object
                          properties:
                            carrier:
                              type: string
                            is_shipped:
                              type: boolean
                            is_delivered:
                              type: boolean
                            has_tracking:
                              type: boolean
                            shipping_method:
                              type: string
                            tracking_number:
                              type: string
                      cart_token:
                        type: string
                      corporate_billing_available:
                        type: boolean
              example:
                errno: <integer>
                cart:
                  id: <integer>
                  number: <string>
                  state: delivered
                  total: <float>
                  item_total: <float>
                  line_items:
                  - id: <integer>
                    quantity: <integer>
                    amount: <float>
                    manufacturer: <string>
                    part_number: <string>
                    pack_qty: <number>
                    variant:
                      variant_id: <integer>
                      price: <string>
                      quantity: <integer>
                      pack_quantity: <integer>
                      minimum: <integer>
                      verified: <boolean>
                      location: <string>
                      timezone: <string>
                      cutoff: <dateTime>
                      past_cutoff: <boolean>
                      core_price: <string>
                      estimated_business_days_to_ship: <integer>
                      estimated_ship_date: <dateTime>
                      estimated_days_to_deliver: <integer>
                      estimated_delivery_date_ground: <dateTime>
                      account_price: <string>
                      minimum_order: <string>
                      minimum_order_fee: <string>
                    product_images:
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    variant_id: <integer>
                    product_id: <integer>
                  - id: <integer>
                    quantity: <integer>
                    amount: <float>
                    manufacturer: <string>
                    part_number: <string>
                    pack_qty: <number>
                    variant:
                      variant_id: <integer>
                      price: <string>
                      quantity: <integer>
                      pack_quantity: <integer>
                      minimum: <integer>
                      verified: <boolean>
                      location: <string>
                      timezone: <string>
                      cutoff: <dateTime>
                      past_cutoff: <boolean>
                      core_price: <string>
                      estimated_business_days_to_ship: <integer>
                      estimated_ship_date: <dateTime>
                      estimated_days_to_deliver: <integer>
                      estimated_delivery_date_ground: <dateTime>
                      account_price: <string>
                      minimum_order: <string>
                      minimum_order_fee: <string>
                    product_images:
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    - product:
                        jpeg: <string>
                        webp: <string>
                      large:
                        jpeg: <string>
                        webp: <string>
                      small:
                        jpeg: <string>
                        webp: <string>
                      medium:
                        jpeg: <string>
                        webp: <string>
                    variant_id: <integer>
                    product_id: <integer>
                  adjustments:
                  - label: <string>
                    amount: <float>
                  - label: <string>
                    amount: <float>
                  billing_address:
                    id: <integer>
                    first_name: <string>
                    last_name: <string>
                    country_id: <integer>
                    country_iso: <string>
                    address1: <string>
                    state_id: <integer>
                    state_name: <string>
                    city_name: <string>
                    zipcode: <string>
                    phone: <string>
                    address_type: residential
                    address2: <string>
                    company: <string>
                    is_default: <boolean>
                  shipping_address:
                    id: <integer>
                    first_name: <string>
                    last_name: <string>
                    country_id: <integer>
                    country_iso: <string>
                    address1: <string>
                    state_id: <integer>
                    state_name: <string>
                    city_name: <string>
                    zipcode: <string>
                    phone: <string>
                    address_type: commercial
                    address2: <string>
                    company: <string>
                    is_default: <boolean>
                  shipping_method_name: <string>
                  shipping_method_id: <integer>
                  po_number: <string>
                  shipments:
                  - carrier: <string>
                    is_shipped: <boolean>
                    is_delivered: <boolean>
                    has_tracking: <boolean>
                    shipping_method: <string>
                    tracking_number: <string>
                  - carrier: <string>
                    is_shipped: <boolean>
                    is_delivered: <boolean>
                    has_tracking: <boolean>
                    shipping_method: <string>
                    tracking_number: <string>
                  cart_token: <string>
                  corporate_billing_available: <boolean>
        '500':
          description: API error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                  message:
                    type: string
              example:
                errno: <integer>
                message: <string>
      x-postman-request: https://finditparts.com/api/v1/carts/:cart_id/billing_address
  /carts/{cart_id}/coupon:
    put:
      operationId: setCartCoupon
      summary: Set Cart Coupon
      tags:
      - Carts
      description: 'Applies a coupon to the Cart and returns the Cart


        Requires an user specific JWT in the Authorization header or a cart token parameter.'
      parameters:
      - name: cart_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coupon_code:
                  type: string
            example:
              coupon_code: <string>
      responses:
        '200':
          description: Cart Coupon Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                  cart:
                    type: object
                    properties:
                      id:
                        type: integer
                      number:
                        type: string
                      state:
                        type: string
                        examples:
                        - delivered
                      total:
                        type: number
                        format: float
                      item_total:
                        type: number
                        format: float
                      line_items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            quantity:
                              type: integer
                            amount:
                              type: number
                              format: float
                            manufacturer:
                              type: string
                            part_number:
                              type: string
                            pack_qty:
                              type: number
                            variant:
                              type: object
                              properties:
                                variant_id:
                                  type: integer
                                price:
                                  type: string
                                quantity:
                                  type: integer
                                pack_quantity:
                                  type: integer
                                minimum:
                                  type: integer
                                verified:
                                  type: boolean
                                location:
                                  type: string
                                timezone:
                                  type: string
                                cutoff:
                                  type: string
                                  format: date-time
                                past_cutoff:
                                  type: boolean
                                core_price:
                                  type: string
                                estimated_business_days_to_ship:
                                  type: integer
                                estimated_ship_date:
                                  type: string
                                  format: date-time
                                estimated_days_to_deliver:
                                  type: integer
                                estimated_delivery_date_ground:
                                  type: string
                                  format: date-time
                                account_price:
                                  type: string
                                minimum_order:
                                  type: string
                                minimum_order_fee:
                                  type: string
                            product_images:
                              type: array
                              items:
                                type: object
                                properties:
                                  product:
                                    type: object
                                    properties:
                                      jpeg:
                                        type: string
                                      webp:
                                        type: string
[...]
